<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= context.title %></title>

  <link rel="icon" href="/cmp.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" type="text/css" href="/antd.css"> -->
</head>

<body>
  <div id="demo"></div>
</body>

</html>